html{
    scroll-behavior: smooth;
}

#main-title{
    color: white;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 400px;
}
#title-box{
    display: block;
    align-items: center;
    height: 92vh;
    width: 100%;   
    margin: 0 auto;
    background-image: url(https://s1.significados.com/foto/tecnologia-dura-fa.jpg); 
    background-position: center;
    background-size: cover;
}

#progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;

}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 320px;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.subtitulo{
    padding-top: 15px;   
    padding-bottom: 15px;
}
.subtitulo_h4{
    padding-bottom: 20px;
}

.images-uni{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: 280px;
    border-radius: 10px;
}

.card_img{
    height: 12rem;
}

.navbar{
    height: 8vh;
}

.links{
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    margin-right: 5px;
}

.links::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.links::after{
    content: " ";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.links:hover::after{
    width: 100%;
}

.parrafo{
    width: 50%;
    justify-items: auto;
}

footer{
    height: 250px;
}

@media (max-width: 1024px){
    #main-title{
        font-size: 60px;
        line-height: 100px;
    }
    #title-box{
        height: 500px;
    }
    #tendencias_actuales{
        height: 600px;
        margin: 50px auto;
    }
    .images{
        width: 350px;
        height: 220px;
    }
    #carouselExampleDark{
        height: 500px;
    }
    .parrafo{
        width: 100%;
    }
    .navbar{
        height: 100%;
    }
    
}
@media (max-width: 768px){
    #progress{
        height: 40px;
        width: 40px;
    }
    
    #progress-value{
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        font-size: 10px;
    }
}